---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    app: "appka"
  name: "appka"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: appka

  template:
    metadata:
      labels:
        app: appka
        actorSystemName: appka
    spec:
      containers:
      - name: appka
        image: akka-kubernetes-sample-1.0
        imagePullPolicy: Never
        readinessProbe:
          httpGet:
            path: /ready
            port: 8558
        livenessProbe:
          tcpSocket:
            port: 8558
        ports:
        # akka remoting
        - name: remoting
          containerPort: 2552
          protocol: TCP
        # akka-management and bootstrap
        - name: management
          containerPort: 8558
          protocol: TCP
#namespace
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
#namespace

---
apiVersion: v1
kind: Service
metadata:
  labels:
    appName: "appka"
  name: "appka-internal"
spec:
  ports:
    - name: management
      port: 8558
      protocol: TCP
      targetPort: 8558
    - name: remoting
      port: 2552
      protocol: TCP
      targetPort: 2552
  selector:
    app: "appka"
#  clusterIP: None
#headless

---
#headless
apiVersion: v1
kind: Service
metadata:
  labels:
    appName: "appka"
  name: "appka"
spec:
  ports:
    - name: http
      port: 8080
      protocol: TCP
      targetPort: 8080
    - name: manage
      port: 8558
      protocol: TCP
      targetPort: 8558
  selector:
    app: "appka"
  type: LoadBalancer



---
kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pod-reader
rules:
- apiGroups: [""] # "" indicates the core API group
  resources: ["pods"]
  verbs: ["get", "watch", "list"]
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: read-pods
subjects:
# Note the `name` line below. The first default refers to the namespace. The second refers to the service account name.
# For instance, `name: system:serviceaccount:myns:default` would refer to the default service account in namespace `myns`
- kind: User
  name: system:serviceaccount:default:default
roleRef:
  kind: Role
  name: pod-reader
  apiGroup: rbac.authorization.k8s.io
